:root {
  /* Color styles */
  --accentdark: rgba(0, 43, 172, 1);
  --accent: rgba(28, 85, 255, 1);
  --accentlight: rgba(87, 129, 255, 1);
  --primarydark: rgb(84, 34, 120);
  --primary: rgba(157, 26, 255, 1);
  --primarylight: rgba(200, 128, 255, 1);
  --primarylighter: rgb(224, 184, 255);
  --white: rgba(255, 255, 255, 1);
  --graylight: rgb(233, 233, 233);
  --graydark: rgba(180, 180, 180, 1);

  /* Text-size styles */
  /* base size: p (16px) */
  --h1: 2.19rem;
  --h1-impact: 3.12rem;
  --p: 0.875rem;
  --h2: 1.5rem;
  --h2impact: 1.88rem;

  /* Utitlity variables */
  --border-radius-small: 0.75em;
  --border-radius: 0.5em;
  --border-radius-large: 1.0875em;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  accent-color: var(--accent);
}
a {
  font-weight: 500;
  cursor: pointer;
  color: var(--accentlight);
  text-decoration: none;
}
a:hover {
  color: var(--primary);
}
/* Scroll Bar Styles(not mozilla) */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
@media screen and (max-width: 1290px) {
  :root {
    --h1-impact: 2.5rem;
    --h1: 2rem;
    --h2: 1.3rem;
  }
}
