:root {
  /* Color styles */
  --accentdark: #13a386;
  --accent: #00e676;
  --accentlight: #33eb91;
  --primarydark: #1d276b;
  --primary: #303f9f;
  --primarylight: #5467e4;
  --primarylighter: #92bcff;
  --white: rgba(255, 255, 255, 1);
  --graylightest: #0000000a;
  --graylighter: #ededed;
  --graylight: #b1bad2;
  --graydark: #767a8b;
  --graydarker: #575860;
  --black: #333333;
  --error: #ff4545;

  /* Text-size styles */
  /* base size: p (16px) */
  --h1: 3.125rem;
  --buttonimpact: 1.1rem;
  --p: 0.875rem;
  --h2: 2.1875rem;
  --h3: 1.5rem;
  --h2impact: 1.88rem;

  /* Utitlity variables */
  --border-radius-small: 0.5em;
  --border-radius: 1em;
  --border-radius-large: 1.0875em;
  --box-shadow: 0px 0px 10px #848fd655;
  --box-shadow-hover: 0px 0px 5px #848fd655;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  accent-color: var(--accent);
}
a {
  cursor: pointer;
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  color: var(--accent);
}
/* Scroll Bar Styles(not mozilla) */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.trailingText {
  color: var(--graylight);
  font-weight: 400;
}
.muted {
  color: var(--graylight);
}
h1 {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: var(--h1);
  line-height: 122%;
  text-align: center;
}
#backdropBlur {
  backdrop-filter: blur(3px);
  background: #6f6f6f33;
}
h2 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: var(--h2);
  line-height: 123%;
  text-align: center;
  color: var(--primarydark);
}
h3 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: var(--h3);
  line-height: 124.5%;
  text-align: center;
  color: var(--primary);
}
h4 {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: var(--h3);
  line-height: 124.5%;
  color: var(--primary);
}
h2 > span {
  color: var(--primarylight);
}
p {
  margin: 0;
  color: var(--graydark);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.awesome-iframe {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
@media screen and (max-width: 600px) {
  :root {
    --h1: 2rem;
    --h2: 1.5rem;
    --h3: 1.1rem;
    --buttonimpact: 0.9rem;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --h1: 4rem;
    --h2: 3rem;
    --h3: 2rem;
    --buttonimpact: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  [data-aos] {
    pointer-events: auto !important;
  }

  html:not(.no-js) [data-aos^="fade"][data-aos^="fade"] {
    opacity: 1 !important;
  }

  html:not(.no-js) [data-aos="fade-up"] {
    transform: none !important;
  }
}
@keyframes gradientScroll {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}
