:root {
  /* Color styles */
  --accentdark: #00a152;
  --accent: #00e676;
  --accentlight: #33eb91;
  --primarydark: #1d276b;
  --primary: #303f9f;
  --primarylight: #5467e4;
  --white: rgba(255, 255, 255, 1);
  --graylight: #d4dcf3;
  --graydark: #6f6f6f;

  /* Text-size styles */
  /* base size: p (16px) */
  --h1: 2.19rem;
  --h1-impact: 3.12rem;
  --p: 0.875rem;
  --h2: 1.5rem;
  --h2impact: 1.88rem;

  /* Utitlity variables */
  --border-radius-small: 0.75em;
  --border-radius: 0.5em;
  --border-radius-large: 1.0875em;
  --box-shadow: 0px 0px 10px #848fd655;
  --box-shadow-hover: 0px 0px 5px #848fd655;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  accent-color: var(--accent);
}
a {
  font-weight: 500;
  cursor: pointer;
  color: var(--primarydark);
  text-decoration: none;
}
a:hover {
  color: var(--accent);
}
/* Scroll Bar Styles(not mozilla) */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
h1 {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 3.8125rem;
  text-align: center;
}
h2 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 2.1875rem;
  line-height: 2.6875rem;
  text-align: center;
  color: var(--primarydark);
}
h3 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 124.5%;
  text-align: center;
  color: var(--primary);
}
h4 {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 124.5%;
  color: var(--primary);
}
h2 > span {
  color: var(--primarylight);
}
p {
  margin: 0;
  color: var(--graydark);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
@media screen and (max-width: 1290px) {
  :root {
    --h1-impact: 2.5rem;
    --h1: 2rem;
    --h2: 1.3rem;
  }
}
